.font-color-sale {
  color: #982a1c;
}
/*Hero Image start (flex-Box) start*/
.img-container {
  width: 100%;
  height: 1100px;
  background-color: black;
  display: grid;
  grid-template-rows: repeat(3,1fr);
  grid-template-columns: repeat(2,1fr);
  justify-content: center;
  align-items: center;
  position: relative;
}
.lady-img{
  width: 100%;
  height: 100%;
  grid-row: 1/4;
  grid-column: 1/3;
}
.lady-img img{
  width: 100%;
  height: 100%;
  aspect-ratio: 1/1;
    object-fit: cover;
}
.cookware-Text-Container {
  background-color: rgba(0, 0, 0, 0.692);
  width: 70%;
  height: 50%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-row: 3;
  grid-column: 1/2;
  margin: auto;
  
}
.cookware-Text-Container h1 {
  color: white;
  font-size: 60px;
}
.discount-container {
  background-color: #1e2c20;
  width: 100%;
  height: 150px;
  grid-row: 4;
  grid-column: 1/3;
  display: grid;
  justify-content: center;
  align-items: center;
  color: white;
}
/*Hero Image start (flex-Box) End*/
/*Start cooking start (Grid)*/
.start-cooking-container {
  display: grid;
  grid-template-rows: 200px 600px;
  grid-template-columns: repeat(1,1fr);
  width: 100%;
  height: 800px;
  
}
.cooking-tittle-text {
  grid-row: 1;
  grid-column: 1/5;
  display: grid;
  height: 100%;
  justify-content: center;
  align-items: end;
  
}
.cooking-tittle-text h1 {
  font-size: 60px;
  padding-bottom: 10%;
  
}
.cooking-pans-container{
  display: grid;
  width: 80%;
  height: 100%;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: 1fr;
  grid-row: 2/5;
  grid-column: 1/4;
  gap: 35px;
   margin: auto;
   align-items: center;
}

.images-pot-adjust{
  width: 100%;
  height: 100%;
   border-radius: 10px;
    aspect-ratio: 1/1;
    object-fit: cover;
}



.arrivals-container{
    width: 100%;
}

.arrivals-tittle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.arrivals-tittle h1{
    font-size: 60px;
}
.collections-card-container{
    display: flex;
    gap: 40px;
    width: 80%;
    padding-top: 2%;
    margin: auto;
}
.new-arrivals-pot{
    width: 100%;
    height: 517.53px;
    object-fit:cover;
}
.colors-container{
  width: 25%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 10px;
  
}
.colors-1{
  background-color: #EA2D2C;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.colors-2{
  background-color: #FB5108;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.colors-3{
  background-color:#D29D12 ;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
.colors-4{
  background-color: #353535;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}
